<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>437074864533-dqtp2esnggbj1bl2mfj13bipahjfuuv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437074864533-dqtp2esnggbj1bl2mfj13bipahjfuuv6</string>
	<key>API_KEY</key>
	<string>AIzaSyAj0CUOrSxDWKFNMmY5ZXk6GiVcyAK5_lk</string>
	<key>GCM_SENDER_ID</key>
	<string>437074864533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirajzaneer.Fakegram</string>
	<key>PROJECT_ID</key>
	<string>fakegram-10bd2</string>
	<key>STORAGE_BUCKET</key>
	<string>fakegram-10bd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437074864533:ios:7c6e36b6246328b1</string>
	<key>DATABASE_URL</key>
	<string>https://fakegram-10bd2.firebaseio.com</string>
</dict>
</plist>